{
    "arrowParens": "always",
    "printWidth": 120,
    "useTabs": false,
    "tabWidth": 4,
    "endOfLine": "lf",
    "overrides": [
        {
            "files": "*.php",
            "options": {
                "singleQuote": true,
                "braceStyle": "1tbs"
            }
        }
    ]
}
