<?xml version="1.0" encoding="UTF-8" ?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/7.5/phpunit.xsd"
    bootstrap="phpunit.bootstrap.php"
    forceCoversAnnotation="false"
    beStrictAboutCoversAnnotation="false"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutTodoAnnotatedTests="true"
    verbose="true"
>
    <testsuites>
        <testsuite name="default">
            <directory suffix="Test.php">phpunit</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../src/inc/</directory>
            <exclude>
                <directory suffix=".php">../src/inc/base/others</directory>
            </exclude>
        </whitelist>
    </filter>

    <logging>
        <log type="junit" target="./junit/phpunit.xml" />
    </logging>
</phpunit>
